.navbar-custom {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 1.2rem;
}

.navbar-custom .navbar-brand {
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
	color: white;

}

.navbar-custom .navbar-nav .nav-item .nav-link {
	color: white;
	font-weight: bold;
	margin: 0 .5rem;
}


.auth {
	font-weight: bold;
}

.navbar-custom .navbar-nav .nav-item .nav-link:hover {
	color: skyblue;
}

.navbar-brand:hover {
	color: green;
}

.navbar-toggler {
	background-color: white;
}

.dropdown-menu{
	background-color: black;
	color: white;
}


.nav-link{
	color: white;
}

.nav-link:hover{
	color: skyblue;
}