.App {
  text-align: center;
}

main{
  margin-top: 8rem;
}

main h1{
  font-size: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn-outline-primary{
  color: #198754;
  --bs-btn-bg: white;
  --bs-btn-border-color:#198754;
  --bs-btn-hover-bg: #198754;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-hover-border-color: #198754;
  
}

.btn-primary{
  color: white;
  --bs-btn-bg: #198754;
  --bs-btn-border-color:#198754;
  --bs-btn-hover-bg: #198754;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-hover-border-color: #198754;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
