.index-auto-filter{
    width: 30vw;
    position:relative;
    z-index: 3;
    
}
.index-auto-filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%; 
}

